<header class="hero">
    <div class="container">
        <nav class="nav">
            <a href="#" class="nav__items">Inicio</a>
            <a href="#" class="nav__items">Servicios</a>
            <a href="#" class="nav__items">Blog</a>
            <a href="#" class="nav__items nav__items--cta">Contacto</a>
        </nav>
        <section class="hero__container">
            <div class="hero__texts">
                <h1 class="hero__title">Kallos Beach Club</h1>
                <h2 class="hero__subtitle">Ven a Kalos y decide conseguir tus propios cambios. Deja de ver cómo los demás lo logran y se la próxima o el próximo. </h2>
                <a href="#" class="hero__cta">Contanos</a>
            </div>
        </section>
    </div>
    <div class="hero__wave" style="overflow: hidden;">
        <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
            <path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #fff;"></path>
        </svg>
    </div>
</header>