<footer class="footer">
    <div class="container footer__grid">
        <nav class="nav nav--footer">
            <a href="#" class="nav__items nav__items--footer">Inicio</a>
            <a href="#" class="nav__items nav__items--footer">Servicios</a>
            <a href="#" class="nav__items nav__items--footer">Blog</a>
            <a href="#" class="nav__items nav__items--footer">Contacto</a>
        </nav>
        <section class="foooter__contact">
            <div class="footer__icons">
                <span class="footer__container-icons">
                    <a href="#" class="fab fa-facebook footer__icon"></a>
                </span>
                <span class="footer__container-icons">
                    <a href="#" class="fab fa-twitter footer__icon"></a>
                </span>
                <span class="footer__container-icons">
                    <a href="#" class="fab fa-whatsapp footer__icon"></a>
                </span>
            </div>
        </section>
    </div>
</footer>